* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/img/bg_pattern.png);
}

#home md-content {
    background-image: url(/img/bg_pattern.png);
}

md-card {
    min-width: 290px;
    min-height: 200px;
}

md-input-container {
    padding: 20px;
    ;
}